@tailwind base;
@tailwind components;
@tailwind utilities;


/* navbar  */
.blue_line{
    position: relative;
    color: #fff;
}
.blue_line::after{
    content: "";
    width: 30px;
    height: 2px;
    background-color: #3498DB;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.responcive-navbar{
    background-color: #a4a4a4;
    color: #fff;
}